CREATE TABLE recetas (
	idrecetas INT NOT NULL DEFAULT unique_rowid(),
	nombre VARCHAR(500) NOT NULL,
	tipoplato VARCHAR(50) NOT NULL,
	preparacion VARCHAR(5000) NOT NULL,
	porciones INT NOT NULL,
	ingredientes VARCHAR(3000) NOT NULL DEFAULT 'Ingredientes':::STRING,
	CONSTRAINT "primary" PRIMARY KEY (idrecetas ASC),
	FAMILY "primary" (idrecetas, nombre, tipoplato, preparacion, porciones, ingredientes)
);

